::-webkit-scrollbar { 
    display: none; 
}
.barraSuperiore{
	background-color: #EFEFEF;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.barraSuperiore a.navbar-brand{
	color: #FF9F9F;
	font-weight: bold;
}
.barraSuperiore a:nth-child(1) button.btn {
	background-color: #FFE1DC;
}
.barraSuperiore a:nth-child(2) button.btn {
	background-color: #FFC0B6;
}
.barraSuperiore a:nth-child(3) button.btn {
	background-color: #FF9F9F;
}
.barraSuperiore a button.btn {
	border-radius: 10px 10px 10px 10px;
	font-weight: bold;	
}

#link {
	color :#FF9F9F;
	font-weight: bold;
}

@media (min-width: 992px) {
	div.contenuto{
		background-image: url("../img/bgContainer.jpg");
		background-position: center; 
		background-size: 100% 100%;
		opacity: 0.8;
		border-radius: 20px 20px 20px 20px; 
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		height: 800px;
		overflow-y:auto;
		overflow-x: hidden; 
	}
}
@media (max-width: 991px) {
	div.contenuto{
		background-image: url("../img/bgContainer.jpg");
		background-position: center; 
	    opacity: 0.8;
		border-radius: 20px 20px 20px 20px; 
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}
p.centrato{
	text-align: center; 
}
label.autocomplete, p.autocomplete{
	background-color: #FFC0B6; 
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:3px 7px 3px 7px;
}
.form-control:focus {
    border-color: #FF9F9F;
	box-shadow: 0 0 0 .1rem #FF9F9F;
}
img.autocomplete{
	border-radius: 20px 20px 20px 20px !important;
}
div.pannello{
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p.pannello{
	margin: 3px; 
}
h4.pannello.titolo{
	margin-top:7px;
}
img.pannello{
	width: 100%;
}